################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/notas/FileContentIndex/05ed2301-6591-4337-84a6-a56338ea9bbe.vsidx
/.vs/notas/FileContentIndex/c8d3fc9e-a953-4024-b7ff-90407de2681f.vsidx
