################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/notas/FileContentIndex/05ed2301-6591-4337-84a6-a56338ea9bbe.vsidx
/.vs/notas/FileContentIndex/c8d3fc9e-a953-4024-b7ff-90407de2681f.vsidx
/.vs/notas/FileContentIndex/ddfd8375-cc25-4062-8454-4e39b48a057f.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/notas/v17/.wsuo
/.vs/notas/FileContentIndex/f69d1fba-63c7-4b6e-ad24-9dfc5c2b1622.vsidx
/.vs/notas/FileContentIndex/e6296c53-edca-4053-ac68-e94b9466f608.vsidx
/.vs/notas/FileContentIndex/c9134f2f-f6ec-4ab3-8100-f3719ea995ad.vsidx
